/* global css here */

@font-face {
    font-family: SF Pro Display;
    src: url(../assets/fonts/sf-pro-display_bold.woff2);
}




@font-face {
    font-family: SF Pro Display Regular;
    src: url(../assets/fonts/sf-pro-display_regular.woff2);
}

@font-face {
    font-family: SF Pro Display SemiBold;
    src: url(../assets/fonts/sf-pro-display_semibold.woff2);
}

@font-face {
    font-family: SF Pro Icons;
    src: url(../assets/fonts/sf-pro-icons_bold.woff2);
}

@font-face {
    font-family: SF Pro Icons Light;
    src: url(../assets/fonts/sf-pro-icons_light.woff2);
}

@font-face {
    font-family: SF Pro Icons Regular;
    src: url(../assets/fonts/sf-pro-icons_regular.woff2);
}

@font-face {
    font-family: SF Pro Text;
    src: url(../assets/fonts/sf-pro-text_bold.woff2);
}

@font-face {
    font-family: SF Pro Text Light;
    src: url(../assets/fonts/sf-pro-text_light.woff2);
}

@font-face {
    font-family: SF Pro Text Rgular;
    src: url(../assets/fonts/sf-pro-text_regular.woff2);
}

@font-face {
    font-family: SF Pro Text SemiBold;
    src: url(../assets/fonts/sf-pro-text_semibold.woff2);
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: #1d1d1f;

    font-family: "SF Pro Display SemiBold","SF Pro Icons", "Helvetica", "Arial";
}