<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../public/css/normalize.css">
    <link rel="stylesheet" href="../../../public/css/global.css">
    <link rel="stylesheet" href="./style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <title>Mackbook Section</title>
</head>
<body>
    <div class="container">
        <div class="c-texts">
            <h1 class="c-t-title">MacBook Air 15”</h1>
            <p class="c-t-subtitle">Impressively big. Impossibly thin.</p>
            <div class="c-t-links">
                <a href="#" class="c-t-link blue">Learn more&nbsp;&rsaquo;</a>
                <a href="#" class="c-t-link blue">Buy&nbsp;&rsaquo;</a>   
            </div>
        </div>
    </div>
    <div class="background-image"></div>
</body>
</html>